body {
    font-family: 'Varela Round';
}
p {
    line-height: 1.8em;
    font-size: 16px;
}
.btn {
    -webkit-transition: all 0.15s linear;
    -moz-transition: all 0.15s linear;
    transition: all 0.15s linear;
    outline: none;
}
.btn-link {
    padding-left: 0;
    border: 0;
}
.center-block {
    margin: 0 auto;
}
.margin-bottom {
    margin-bottom: 20px;
}
.margin-top {
    margin-top: 20px;
}
.site-list li {
    margin-bottom: 14px;
}
.bullet-list li {
    position: relative;
    padding-left: 4px;
}
.bullet-list li:before {
    width: 8px;
    height: 8px;
    border-radius: 8px;
    background: #dd9a47;
    display: inline-block;
    content: ' ';
    position: absolute;
    top: 10px;
    left: -12px;
}
.headroom--not-top {
  background: #fff !important;
  transition: 0.2s background linear;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
}
.headroom--not-top .navbar-nav > li > a {
    color: rgba(0,0,0,0.6) !important;
}
.main-nav {
    margin-bottom: 0;
    background: transparent;
    border-bottom: 0;
    padding-top: 5px;
    padding-bottom: 15px;
    background-image: -moz-linear-gradient( 90deg, rgba(17,18,18,0) 0%, rgba(0,0,0,0.2) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgba(17,18,18,0) 0%, rgba(0,0,0,0.2) 100%);
    background-image: -ms-linear-gradient( 90deg, rgba(17,18,18,0) 0%, rgba(0,0,0,0.2) 100%);
}
.main-nav .navbar-nav > li > a {
    color: rgba(255,255,255,0.5);
    padding: 15px 20px 17px;
    font-size: 16px;
    margin-top: 12px;
}
.main-nav .navbar-nav > li > a:hover,.main-nav .navbar-nav > li > a:focus {
    color: #fff;
}
.main-nav .navbar-brand {
    padding-top: 26px;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    background: #fff;
    box-shadow: 1px -1px 0px rgba(0,0,0,0.1), -1px 0 0px rgba(0,0,0,0.1);
}
.main-nav .dropdown-menu {
    border: 0;
    box-shadow: 1px 1px 0px rgba(0,0,0,0.1), -1px 0 0px rgba(0,0,0,0.1);
    top: 96%;
}
.main-nav .dropdown-menu > li > a {
    width: 226px;
    padding: 10px 20px;
}
@media (max-width: 599px) {
    .main-nav {
        padding-bottom: 20px;
    }
    .main-nav .navbar-toggle {
        margin-top: 22px;
        border: none;
    }
}
.main-slider {
    position: relative;
}
.main-slider .btn {
    background: transparent;
    border: 2px solid rgba(255,255,255,0.6);
    padding: 10px 40px;
}
.main-slider .round-btn {
    border-radius: 60px;
    width: 60px;
    height: 60px;
    padding: 0;
    line-height: 60px;
    text-align: center;
    font-size: 20px;
    color: rgba(255,255,255,0.6);
}
.main-slider .heading-slide-single {
    background-position: 50% 30%;
    background-size: cover;
    position: absolute;
    top: 0;
    width: 100%;
    display: none;
    overflow: hidden;
}

.main-slider .heading-slide-single[data-slide-id="1"] {
    display: block;
}

.main-slider .flying-1 {
    height: 70px;
    left: -50px;
    background: rgba( 145, 218, 50, 0.85 );
    position: absolute;
}

.main-slider .flying-1 span {
    color: #fff;
    font-size: 21px;
    font-weight: 600;
    position: absolute;
    right: 20px;
    bottom: 13px;
}

.main-slider .flying-2 {
    background: rgba( 145, 218, 50, 0.85 );
    position: absolute;
    right: -50px;
    bottom: 0;
    z-index: 100;
}

.main-slider .flying-2 h3 {
    color: #fff;
    font-weight: 600;
    font-size: 21px;
}

.main-slider .flying-2 p {
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6em;
}

.main-slider .heading-content {
    position: absolute;
    left: 50%;
}

.main-slider .heading-content h2 {
    color: #fff;
    font-weight: 700;
}

.main-slider .heading-content h3 {
    color: rgba(255,255,255,0.8);
    font-weight: 300;
    line-height: 1.1em;
    margin: 20px 0 45px 0;
}

.main-slider .heading-content .button:not(:hover) {
    background: none;
}

@media (min-width: 1350px) {

    .main-slider .heading-content {
        width: 1100px;
        margin-left: -550px;
        bottom: 100px;
    }

    .main-slider .heading-content h2 {
        font-size: 62px;
    }

    .main-slider .heading-content h3 {
        font-size: 26px;
    }

    .main-slider,
    .main-slider .heading-slide-single {
        height: 580px;
    }

    .main-slider .flying-1 {
        width: 350px;
    }

    .main-slider .flying-2 {
        width: 350px;
    }

    .main-slider .flying-2 h3,
    .main-slider .flying-2 p {
        padding: 30px 80px 0 30px;
    }

    .main-slider .flying-2 button {
        margin: 30px 0 30px 30px;
    }
}

@media (min-width: 950px) and (max-width: 1349px) {

    .main-slider .heading-content {
        width: 850px;
        margin-left: -425px;
        bottom: 50px;
    }

    .main-slider .heading-content h2 {
        font-size: 52px;
    }

    .main-slider .heading-content h3 {
        font-size: 26px;
    }

    .main-slider,
    .main-slider .heading-slide-single {
        height: 550px;
    }

    .main-slider .flying-1 {
        width: 350px;
    }

    .main-slider .flying-2 {
        width: 350px;
    }

    .main-slider .flying-2 h3,
    .main-slider .flying-2 p {
        padding: 30px 80px 0 30px;
    }

    .main-slider .flying-2 button {
        margin: 30px 0 30px 30px;
    }
}

@media (min-width: 600px) and (max-width: 949px) {

    .main-slider .heading-content {
        width: 540px;
        margin-left: -270px;
        bottom: 50px;
    }

    .main-slider .heading-content h2 {
        font-size: 38px;
    }

    .main-slider .heading-content h3 {
        font-size: 20px;
    }

    .main-slider,
    .main-slider .heading-slide-single {
        height: 450px;
    }

    .main-slider .flying-1 {
        width: 350px;
    }

    .main-slider .flying-2 {
        display: none !important;
    }
}

@media (max-width: 599px) {

    .main-slider .heading-content {
        left: 30px;
        bottom: 30px;
    }

    .main-slider .heading-content h2 {
        font-size: 38px;
    }

    .main-slider .heading-content h3 {
        font-size: 20px;
    }

    .main-slider,
    .main-slider .heading-slide-single {
        height: 450px;
    }

    .main-slider .flying-1 {
        width: 280px;
    }

    .main-slider .flying-2 {
        display: none !important;
    }
}

.section {
    overflow: hidden;
}
.section-padding {
    padding: 40px 0;
}
.width-padding {
    padding: 0 15px;
}
.section-padding-top {
    padding-top: 40px;
}
.section-border-bottom {
    border-bottom: 1px solid #eee;
}
.section-title {
    color: #2C3459;
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 20px;
}
h3.section-title {
    color: #B5AA34;
    font-size: 20px;
}
.section-title.color {
    color: #B5AA34;
}
.section p {
    color: #9498ab;
    font-family: 'Varela Round', 'Noto Sans Myanmar';
}
.section-nav {
    margin: 20px auto;
    border-bottom: 0;
}
.section-nav > li:first-child > a {
    padding-left: 0;
}
.section-nav > li.active > a {
    color: #9498ab;
    border-color: transparent;
}
.section-nav > li.active > a:hover {
    border-color: transparent;
}
.section-nav > li.active > a span {
    color: #dd9a47;
}
.section-nav > li > a {
    color: #c3c5cd;
}
.section-nav > li > a:hover,.section-nav > li > a:focus {
    border-color: transparent !important;
    background: transparent;
}
.section-nav > li > a span {
    font-size: 30px;
    display: block;
    text-align: center;
    margin-bottom: 16px;
}
@media (max-width: 599px) {
    .section-nav > li > a {
        padding: 10px;
    }
    .section-nav > li > a span {
        font-size: 20px;
    }
}
.circles {
    width: 450px;
    height: 500px;
    position: relative;
}
.circle-1 {
    width: 450px;
    height: 450px;
    position: absolute;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    top: 50%;
    left: 50%;
    margin-top: -226px;
    margin-left: -226px;
    border: 1px solid #f5f5f5;
}

.circle-2 {
    width: 330px;
    height: 330px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 1px solid #eee;
    top: 50%;
    left: 50%;
    margin-top: -166px;
    margin-left: -166px;
    position: absolute;
}

.circle-3 {
    width: 220px;
    height: 220px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 1px solid #e5e5e5;
    top: 50%;
    left: 50%;
    margin-top: -111px;
    margin-left: -111px;
    position: absolute;
}

.circle-4 {
    width: 120px;
    height: 120px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 1px solid #ddd;
    top: 50%;
    left: 50%;
    margin-top: -61px;
    margin-left: -61px;
    position: absolute;
}
@media (min-width: 1350px) {
    .circles {
        margin: -100px auto;
    }
}
@media (min-width: 950px) and (max-width: 1349px) {
    .circles {
        margin: -100px 0;
    }
}
@media (min-width: 600px) and (max-width: 949px) {
    .circles {
        margin: -75px auto -125px auto;
    }
}
@media (max-width: 599px) {
    .circles {
        left: 50%;
        margin: -75px 0 -125px -225px;
    }
}
.circle-center {
    width: 40px;
    height: 40px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 1px solid #2C3459;
    top: 50%;
    left: 50%;
    margin-top: -21px;
    margin-left: -21px;
    position: absolute;
    font-size: 0;
    text-align: center;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.circle-center:hover {
    background: #2C3459;
}

.circle-center i {
    font-size: 16px;
    color: #2c3459;
    display: block;
    margin-top: 11px;
}

.circle-center:hover i {
    color: #fff;
}

.circle-center .circle-center-tip {
    position: absolute;
    font-size: 13px;
    background: #2c3459;
    color: #fff;
    width: 200px;
    padding: 7px 0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    margin-left: -100px;
    left: 50%;
    margin-top: -37px;
}

.circle-center .circle-center-tip:after {
    width: 6px;
    height: 6px;
    -webkit-transform: rotate( 45deg );
    -moz-transform: rotate( 45deg );
    transform: rotate( 45deg );
    content: ' ';
    background: #2c3459;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    bottom: -3px;
}
@-webkit-keyframes pulse {
    0% { -webkit-transform: scale( 1 ); opacity: 0.3; }
      50% { -webkit-transform: scale( 1.1 ); opacity: 1; }
    100% { -webkit-transform: scale( 1 ); opacity: 0.3; }
}

@-moz-keyframes pulse {
    0% { -moz-transform: scale( 1 ); opacity: 0.3; }
      50% { -moz-transform: scale( 1.1 ); opacity: 1; }
    100% { -moz-transform: scale( 1 ); opacity: 0.3; }
}

@-o-keyframes pulse {
    0% { -o-transform: scale( 1 ); opacity: 0.3; }
      50% { -o-transform: scale( 1.1 ); opacity: 1; }
    100% { -o-transform: scale( 1 ); opacity: 0.3; }
}

@keyframes pulse {
    0% { transform: scale( 1 ); opacity: 0.3; }
      50% { transform: scale( 1.1 ); opacity: 1; }
    100% { transform: scale( 1 ); opacity: 0.3; }
}

.circle-pulse {
    -webkit-animation: pulse 2s infinite;
    -moz-animation: pulse 2s infinite;
    -o-animation: pulse 2s infinite;
    animation: pulse 2s infinite;
    opacity: 1;

    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
}
.cta {
    background: url('img/cta-bg.jpg');
    background-size: cover;
    height: 475px;
}
.cta h2 {
    color: #fff;
    text-align: center;
    max-width: 800px;
    margin: 80px auto 40px;
    font-size: 60px;
}
.cta-btn {
    width: 200px;
    text-align: center;
    margin: 0 auto;
    display: block;
    border: 2px solid #fff;
    padding: 20px;
    color: #fff;
    font-size: 20px;
}
.cta-btn:hover {
    border-color: #333;
}
.main-footer {
    background: #ccbf32;
    padding: 30px 0;
}
.main-footer .nav a,.main-footer .nav strong {
    color: rgba(0,0,0,0.6);
    padding: 5px 15px;
    text-decoration: underline;
}
.main-footer .nav a:hover,.main-footer .nav strong {
    background: transparent;
}
.main-footer .nav strong {
    display: inline-block;
    text-decoration: none;
}
.copyright {
    color: rgba(0,0,0,0.4);
    padding-top: 50px;
}
.copyright a {
    color: rgba(0,0,0,0.5);
}
.page-header {
    padding-top: 80px;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 20px;
}
.page-header h1 {
    color: #fff;
}
.page-header h1 small {
    color: rgba(255,255,255,0.6);
}
.contact-page-emails dd {
    margin-bottom: 10px;
}
.feature-section .section-title {
    height: 60px;
}
.feature-list {
    padding: 0 5px;
}
.feature-item p {
    font-size: 14px;
    color: #2C3459;
    line-height: 1.5em;
}
.feature-item p small {
    color: #999;
    font-size: 14px;
    display: block;
}
.feature-item {
    padding: 20px 15px;
    text-align: center;
    border-right: 1px solid #ece9e5;
    border-bottom: 1px solid #ece9e5;
}
.feature-item:nth-child(even) {
    border-right: 0;
}
.feature-item:nth-child(3) {
    width: 100%;
    clear: both;
    border-right: 0;
}
.feature-item:last-child {
    width: 100%;
    display: block;
    clear: both;
    border-right: none;
    border-bottom: 0;
}
.label-item {
    display: inline-block;
}
.label-item h3 {
    width: 212px;
    height: 212px;
    border-radius: 212px;
    line-height: 42px;
    color: #fff;
    text-align: center;
    padding-top: 76px;
    font-size: 60px;
}
.label-item h3 strong {
    clear: both;
    display: block;
    font-size: 20px;
}
.plus-sign {
    font-size: 30px;
    color: #a9a9a9;
}
.total-label h3 {
    border: 2px solid #e3e3e3;
    width: 300px;
    height: 300px;
    margin: 20px auto;
    border-radius: 300px;
    line-height: 62px;
    text-align: center;
    padding-top: 84px;
    font-size: 60px;
}
.total-label h3 strong {
    font-size: 40px;
    display: block;
    color: #999;
}
@media (max-width: 599px) {
    .label-item h3 {
        width: 100px;
        height: 100px;
        border-radius: 100px;
        font-size: 20px;
        padding-top: 30px;
        line-height: 22px;
    }
}